/* I need to go through and create a better commenting system */

/* Global variables and styles */
:root {
    --primary-color: #ffa820;
    --primary-color-light: #ffecce;
    --secondary-color: #252e3d;
    --tertiary-color: #f1e8bd;
}

* {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

button {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: black;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    align-self: center;
    margin: 10px;
    transition: background .5s ease-in-out; /*to create hover animation*/
}

button:hover {
    /* background:white;
    color: var(--primary-color); */
    
    background: white;
    border: 1px solid black;
    color: black;
    font-weight: bold;
}

.small-button {
    padding: 6px 14px;
}

.ghost-button {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.ghost-button:hover {
    background: #777777;
    border: 1px solid white;
    color: white;
}

/* logic for the item input and editing form */
div#item-boolean-input-wrapper label {
    min-width: 75px;
}

#item-edit-wrapper {
    max-width: 350px; /* may need to be altered */
    padding: 20px;
}

#item-boolean-input-wrapper {
    padding: 25px 0px 0px 15px;
}

.single-field-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.double-field-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*radio button toggle switch from codepen https://codepen.io/JiveDig/pen/jbdJXR */
.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: var(--primary-color);
	box-shadow: none;
    color: black;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

/* For overlays */
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    align-content: center;
    justify-content: center;
    user-select: none;
}

.overlay-text{
    font-size: 40px;
    color: white;
}

.overlay-loading-text{
    font-size: 25px;
    color: white;
}

.overlay-loading-text:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;}
  
@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);
    }
    40% {
        color: white;
        text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);
    }
    60% {
        text-shadow:
        .25em 0 0 white,
        .5em 0 0 rgba(0,0,0,0);
    }
    80%, 100% {
        text-shadow:
        .25em 0 0 white,
        .5em 0 0 white;
    }
}