/* I need to go through and create a better commenting system */

/* Global variables and styles */
:root {
    --primary-color: #ffa820;
    --primary-color-light: #ffecce;
    --primary-color-dark: #f09400;
    --secondary-color: #252e3d;
    --tertiary-color: #f1e8bd;
}

* {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

button {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: black;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    align-self: center;
    margin: 10px;
    transition: all .3s ease-in-out; /*to create hover animation*/
}

button:hover {
    /* background:white;
    color: var(--primary-color); */
    
    background: var(--primary-color-dark);
    color: black;
}

.small-button {
    padding: 6px 14px;
}

.ghost-button {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.ghost-button:hover {
    background: var(--primary-color-light);
}

/* logic for the item input and editing form */
div#item-boolean-input-wrapper label {
    min-width: 75px;
}

#item-edit-wrapper {
    max-width: 350px; /* may need to be altered */
    padding: 20px;
}

@media screen and (max-width: 400px) {
    #item-edit-wrapper {
        max-width: 85vw; /* may need to be altered */
        padding: 20px;
    }
}

#item-boolean-input-wrapper {
    padding: 25px 0px 0px 15px;
}

#item-form-title {
    text-transform: capitalize;
}

#item-display-wrapper {
    display: grid;
}

.single-field-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.double-field-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*radio button toggle switch from codepen https://codepen.io/JiveDig/pen/jbdJXR */
.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: var(--primary-color);
	box-shadow: none;
    color: black;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

/* For overlays */
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    cursor: pointer;
    align-content: center;
    justify-content: center;
    user-select: none;
}

.overlay-text{
    font-size: 40px;
    color: white;
}

.overlay-loading-text{
    font-size: 25px;
    color: white;
}

.overlay-loading-text:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;}
  
@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);
    }
    40% {
        color: white;
        text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);
    }
    60% {
        text-shadow:
        .25em 0 0 white,
        .5em 0 0 rgba(0,0,0,0);
    }
    80%, 100% {
        text-shadow:
        .25em 0 0 white,
        .5em 0 0 white;
    }
}

.form-overlay {
    position: fixed;
    /* display: none; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
    cursor: pointer;
    align-content: center;
    justify-content: center;
    user-select: none;
}

.overlay-form {
    background: white;
    z-index: 2;
    position: relative;
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 10px 15px 10px rgb(0 0 0 / 50%);
}

@media screen and (max-width: 400px) {
    .overlay-form {
        max-width: 85vw; /* may need to be altered */
        margin: 5px 0px;
    }
}

/* For top navigation menu, from: https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp */
.top-nav {
    overflow: hidden;
    background-color: #333;
}
  
.top-nav p {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0;
}

#sign-out-button {
    float: right;
}

.active {
    background-color: var(--primary-color);
    color: white;
}

.top-nav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .drop-btn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.top-nav p:hover, .dropdown:hover .drop-btn {
    background-color: #555;
    color: white;
}

.dropdown-content p:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .top-nav p:not(:first-child), .dropdown .drop-btn {
        display: none;
    }
    #sign-out-button {
        float: left;
    }
    .top-nav p.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .top-nav.responsive {position: relative;}
    .top-nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .top-nav.responsive p {
        float: none;
        display: block;
        text-align: left;
    }
    .top-nav.responsive .dropdown {float: none;}
    .top-nav.responsive .dropdown-content {position: relative;}
    .top-nav.responsive .dropdown .drop-btn {
        display: block;
        width: 100%;
        text-align: left;
    }
}